@using WholesaleShop.Models.Entities
@model Product
@{
    ViewData["Title"] = "Create";
}

<h1>Create Products</h1>

<form method="post" asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreatedAt" class="form-label"></label>
        <input asp-for="CreatedAt" name="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" name="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UnitPrice" class="form-label"></label>
        <input asp-for="UnitPrice" name="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CostPrice" class="form-label"></label>
        <input asp-for="CostPrice" name="CostPrice" class="form-control" />
        <span asp-validation-for="CostPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StockQuantity" class="form-label"></label>
        <input asp-for="StockQuantity" name="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</form>