@using WholesaleShop.Models.Entities
@model Supplier
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post" asp-action="Delete">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Uid" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" name="Name" disabled class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" name="Phone" disabled class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" name="Email" disabled class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" name="Address" disabled class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CurrentBalance" class="form-label"></label>
        <input asp-for="CurrentBalance" name="CurrentBalance" disabled class="form-control" />
        <span asp-validation-for="CurrentBalance" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</form>
